body {
    /* Move the body down and center it */
    margin: 0 auto;
    /* Don't expand the content beyond this size */
    max-width: 1000px;
    /* Set the colors */
    background-color: black;
    color: white;
    /* Set the font */
    font-family: 'Manrope', sans-serif;
}

h1 {
    margin-top: 32px;
    text-align: center;
}

main {
    margin-top: 128px;
    /* Set the content in a row with as much space between it as possible */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

nav {
    outline: white solid thin;
    height: 512px;
    line-height: 512px; /* evil hack: vertically centers arrow sigils */
    padding: 4px;
}

nav:hover {
    color: red;
    outline: red solid;
    cursor: pointer;
}

nav:active {
}

article {
    width: 768px;
    max-height: 768px;
    overflow: auto;
}

.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.avi {
    width: 48px;
    height: 48px;
}

.arrows {
    display: flex;
    flex-direction: column;
}

.post-main {
    display: flex;
    flex-direction: column;
}

.display-name {
    font-weight: 700;
}

.username {
    font-weight: 300;
    color: #DDD;
}

.score {
    color: #EEE;
}

.replies {
    margin-left: 64px;
}

.hidden {
    visibility: hidden;
}

.vote:hover {
    cursor: pointer;
}

.vote.up.active {
    color: orange;
}

.vote.down.active {
    color: #0FF;
}

#progress-container {
    margin: 0 auto;
    width: 64%;
    height: 32px;
    background-color: #111;
}

#progress-bar {
    width: 10%;
    height: 100%;
    background-color: #888;
}
